.genjitsu-comic1 {
  display: inline-block;
  margin-bottom: 100px;
  margin-right: 0px;
  width: 650px;
  padding-left: 220px;
  padding-right: 50px;
  padding-top: 100px;
  vertical-align: top;
}

.genjitsu-comic2 {
  display: inline-block;
  margin-bottom: 100px;
  margin-left: 0px;
  width: 700px;
  padding-top: 120px;
  padding-left: 50px;
  padding-right: 200px;
  vertical-align: top;
}

.genjitsu-comic3pt1 {
  display: inline-block;
  width: 700px;
  padding-left: 675px;
  padding-right: 500px;
  margin-top: 100px;
}

.genjitsu-comic3pt2 {
  display: inline-block;
  margin-bottom: 100px;
  width: 750px;
  padding-left: 225px;
}

.genjitsu-comic3pt3 {
  display: inline-block;
  margin-bottom: 100px;
  width: 750px;
  padding-right: 0px
}

.genjitsu-comic4pt1 {
  display: inline-block;
  margin-bottom: 100px;
  margin-top: 100px;
  width: 800px;
  padding-left: 125px;
  padding-bottom: 75px;
}

.genjitsu-comic4pt2 {
  display: inline-block;
  margin-bottom: 100px;
  margin-top: 100px;
  width: 800px;
}

.genjitsu-comic5pt1 {
  display: inline-block;
  margin-bottom: 100px;
  margin-top: 100px;
  width: 800px;
  padding-left: 125px;
  padding-bottom: 75px;
}

.genjitsu-comic5pt2 {
  display: inline-block;
  margin-bottom: 100px;
  margin-top: 100px;
  width: 800px;
}

.genjitsu-comic6pt1 {
  display: inline-block;
  margin-bottom: 100px;
  margin-top: 100px;
  width: 800px;
  padding-left: 125px;
  padding-bottom: 75px;
}

.genjitsu-comic6pt2 {
  display: inline-block;
  margin-bottom: 100px;
  margin-top: 100px;
  width: 800px;
}

.genjitsu-comic7 {
  display: inline-block;
  margin-bottom: 100px;
  margin-top: 100px;
  margin-left: 350px;
  width: 1000px;
  padding-left: 125px;
  padding-bottom: 75px;
}

.genjitsu-comic8pt1 {
  display: inline-block;
  margin-bottom: 100px;
  margin-top: 100px;
  width: 800px;
  padding-left: 125px;
  padding-bottom: 75px;
}

.genjitsu-comic8pt2 {
  display: inline-block;
  margin-bottom: 100px;
  margin-top: 100px;
  width: 800px;
}

.genjitsu-comic9pt1 {
  display: inline-block;
  margin-bottom: 100px;
  margin-top: 100px;
  width: 800px;
  padding-left: 125px;
  padding-bottom: 75px;
}

.genjitsu-comic9pt2 {
  display: inline-block;
  margin-bottom: 100px;
  margin-top: 100px;
  width: 800px;
}


.genjitsu-comic10 {
  display: inline-block;
  margin-bottom: 100px;
  margin-top: 100px;
  width: 800px;
  padding-left: 125px;
  padding-bottom: 75px;
}

.genjitsu-comic11 {
  display: inline-block;
  margin-bottom: 100px;
  margin-top: 100px;
  width: 800px;
  padding-left: 50px;
  padding-bottom: 75px;
}

.genjitsu-comic12 {
  display: inline-block;
  margin-bottom: 100px;
  margin-top: 100px;
  width: 800px;
  padding-left: 125px;
  padding-bottom: 75px;
}

.genjitsu-comic13 {
  display: inline-block;
  margin-bottom: 100px;
  margin-top: 100px;
  width: 800px;
  padding-left: 50px;
  padding-bottom: 75px;
}

.genjitsu-comic14 {
  display: inline-block;
  margin-bottom: 100px;
  margin-top: 100px;
  width: 800px;
  padding-left: 550px;
  padding-bottom: 75px;
}

.genjitsu-comic15pt1 {
  display: inline-block;
  margin-bottom: 100px;
  margin-top: 100px;
  width: 800px;
  padding-left: 125px;
}

.genjitsu-comic15pt2 {
  display: inline-block;
  margin-bottom: 100px;
  margin-top: 100px;
  width: 800px;
}

.genjitsu-comic16 {
  display: inline-block;
  margin-bottom: 100px;
  margin-top: 100px;
  width: 800px;
  padding-bottom: 75px;
  padding-left: 125px;
}

.genjitsu-comic17 {
  display: inline-block;
  margin-bottom: 100px;
  margin-top: 100px;
  width: 800px;
  padding-bottom: 75px;
  padding-left: 50px;
}
